.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search {
    display: inline-block;
}

.search .searchinput {
    width: 400px;
    height: 32px;

    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 30px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search .searchinput {
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 6px;
    left: 20px;
}

.search .fa-search {
    left: auto;
    right: 10px;
}
